.midBtn{
    background: #5A4BFF;
    border: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    width:18rem;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 0 auto;
    margin-radius: 0.5rem;
    border-radius: 0.5rem;
  }

.data{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}